<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
  <h1>register</h1>
  <form action="/register2" method="post" name="register">
      email: <input type="text" placeholder="Enter email" name="email" required>  <br>
      username: <input type="text" placeholder="Enter username" name="username" required>  <br>
      password: <input type="password" placeholder="Enter password" name="password" required>  <br>
      repeat password: <input type="password" placeholder="Enter password again" name="password2" required>  <br>
      <input type="submit" name="register" value="register">
  </form>
</body>
</html>